.heading {
  font-family: 'Helvetica', sans-serif;
  color: #FFF;
}

.link {
  color: white;
}

.button {
  background: #48C9B0;
  appearance: none;
  color: white;
  border: 0;
  padding: 10px 14px;
  border-radius: 8px;
}

.input {
  padding: 10px;
}

.flex {
  display: flex;
  gap: 10px;
}